<form class="form">
  <label id="login">Login</label>

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button
      value="email"
      checked
      (click)="verEmail()"
      [ngStyle]="{
        'background-color': corFundoEmail,
        color: corEmail,
        'font-weight': fontBoldEmail
      }"
      >E-mail</mat-radio-button
    >
    <mat-radio-button
      value="CPF"
      (click)="verCPF()"
      [ngStyle]="{
        'background-color': corFundoCPF,
        color: corCPF,
        'font-weight': fontBoldCPF
      }"
      >CPF</mat-radio-button
    >
  </mat-radio-group>

  <div class="box">
    <mat-form-field
      class="entrada entradaEmail"
      appearance="outline"
      [ngStyle]="{ display: mostrarEmail }"
    >
      <mat-label
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M207.8 20.73c-93.45 18.32-168.7 93.66-187 187.1c-27.64 140.9 68.65 266.2 199.1 285.1c19.01 2.888 36.17-12.26 36.17-31.49l.0001-.6631c0-15.74-11.44-28.88-26.84-31.24c-84.35-12.98-149.2-86.13-149.2-174.2c0-102.9 88.61-185.5 193.4-175.4c91.54 8.869 158.6 91.25 158.6 183.2l0 16.16c0 22.09-17.94 40.05-40 40.05s-40.01-17.96-40.01-40.05v-120.1c0-8.847-7.161-16.02-16.01-16.02l-31.98 .0036c-7.299 0-13.2 4.992-15.12 11.68c-24.85-12.15-54.24-16.38-86.06-5.106c-38.75 13.73-68.12 48.91-73.72 89.64c-9.483 69.01 43.81 128 110.9 128c26.44 0 50.43-9.544 69.59-24.88c24 31.3 65.23 48.69 109.4 37.49C465.2 369.3 496 324.1 495.1 277.2V256.3C495.1 107.1 361.2-9.332 207.8 20.73zM239.1 304.3c-26.47 0-48-21.56-48-48.05s21.53-48.05 48-48.05s48 21.56 48 48.05S266.5 304.3 239.1 304.3z"
          /></svg
        >Entre com seu E-mail</mat-label
      >
      <input
        type="email"
        matInput
        [formControl]="usuarioLogin"
        placeholder="Ex: nome@wiz.com"
      />
      <mat-error
        *ngIf="
          usuarioLogin.hasError('email') && !usuarioLogin.hasError('required')
        "
      >
        Por favor, entre com um <strong>E-mail</strong> válido.
      </mat-error>
      <mat-error *ngIf="usuarioLogin.hasError('required')">
        🚫 <strong>E-mail</strong> é obrigatório!
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="entrada entradaCPF"
      appearance="outline"
      [ngStyle]="{ display: mostrarCPF }"
    >
      <mat-label
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path
            d="M512 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h448c35.35 0 64-28.65 64-64V96C576 60.65 547.3 32 512 32zM176 128c35.35 0 64 28.65 64 64s-28.65 64-64 64s-64-28.65-64-64S140.7 128 176 128zM272 384h-192C71.16 384 64 376.8 64 368C64 323.8 99.82 288 144 288h64c44.18 0 80 35.82 80 80C288 376.8 280.8 384 272 384zM496 320h-128C359.2 320 352 312.8 352 304S359.2 288 368 288h128C504.8 288 512 295.2 512 304S504.8 320 496 320zM496 256h-128C359.2 256 352 248.8 352 240S359.2 224 368 224h128C504.8 224 512 231.2 512 240S504.8 256 496 256zM496 192h-128C359.2 192 352 184.8 352 176S359.2 160 368 160h128C504.8 160 512 167.2 512 176S504.8 192 496 192z"
          /></svg
        >Entre com seu CPF</mat-label
      >
      <input
        type="number"
        matInput
        [formControl]="usuarioCPF"
        placeholder="Ex: 12345678900"
      />
      <mat-error
        *ngIf="usuarioCPF.hasError('email') && !usuarioCPF.hasError('required')"
      >
        Por favor, entre com um <strong>E-mail</strong> válido.
      </mat-error>
      <mat-error *ngIf="usuarioCPF.hasError('required')">
        🚫 <strong>CPF</strong> é obrigatório!
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="entrada entradaSenha" appearance="outline">
    <mat-label
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M282.3 343.7L248.1 376.1C244.5 381.5 238.4 384 232 384H192V424C192 437.3 181.3 448 168 448H128V488C128 501.3 117.3 512 104 512H24C10.75 512 0 501.3 0 488V408C0 401.6 2.529 395.5 7.029 391L168.3 229.7C162.9 212.8 160 194.7 160 176C160 78.8 238.8 0 336 0C433.2 0 512 78.8 512 176C512 273.2 433.2 352 336 352C317.3 352 299.2 349.1 282.3 343.7zM376 176C398.1 176 416 158.1 416 136C416 113.9 398.1 96 376 96C353.9 96 336 113.9 336 136C336 158.1 353.9 176 376 176z"
        /></svg
      >Entre com sua Senha</mat-label
    >
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [formControl]="usuarioSenha"
      placeholder="********"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error
      *ngIf="
        usuarioSenha.hasError('password') && !usuarioSenha.hasError('required')
      "
    >
      Por favor, entre com uma <strong>Senha</strong> válida.
    </mat-error>
    <mat-error *ngIf="usuarioLogin.hasError('required')">
      🚫 <strong>Senha</strong> é obrigatória!
    </mat-error>
  </mat-form-field>

  <div class="recaptcha">
    <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey"> </re-captcha>
  </div>

  <div class="botaoEntrar">
    <button
      id="btnEntrar"
      disabled="{{ statusBotao }}"
      mat-raised-button
      color="warn"
      (click)="enviar()"
    >
      {{ textoBotao }}
    </button>

    <mat-error *ngIf="captcha == ''">
      <p classe="alerta">🚫 <strong>reCaptcha</strong> é obrigatório!</p>
    </mat-error>
    <mat-error *ngIf="statusLogin == 'Logado'">
      <p classe="alerta">✅ <strong>Login</strong> efetuado com sucesso!</p>
    </mat-error>
    <mat-error *ngIf="statusLogin == 'Erro'">
      <p classe="alerta">🚫 <strong>Usuário ou Senha</strong> inválidos!</p>
    </mat-error>
  </div>

  <div class="tooltip">
    Ajuda?
    <span class="tooltiptext">
      <strong>Usuário:</strong> zema@wiz.com ou 74185296332<br /><strong
        >Senha:</strong
      >
      123.
    </span>
  </div>
</form>
