svg,
path {
  margin: 0px auto 10px;
  width: 50%;
  height: 100px;
  display: block;
  background-color: rgb(75, 215, 75);
  border-radius: 10%;
}

button {
  margin: 2px;
  padding: 10px;
  width: 30%;
  height: 30%;
  font-size: 15px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(75, 215, 75);
}
